.parent{
	width: 800px;
	height: 800px;
	position: relative;
	border:2px solid green;
	margin: auto;
	background-color: silver;
}
.child-1{
	width: 446px;
	height: 350px;
	position: sticky;
	top: 0px;
	background-color: magenta;
}

.parent:hover .child-2{
	display: block;
	background-color: pink;
}