table{
	width: 100%;
}
caption{
	caption-side: bottom;
}
table,td,th{
	border: 2px solid black;
	border-collapse: collapse;
}
table tbody tr:nth-child(odd) td:nth-child(2):hover{
	background-color: orange;
}
table tbody tr:nth-child(odd) td:nth-child(1):hover{
	background-color: red;
}
table tbody tr:nth-child(even) td:nth-child(1):hover{
	background-color: green;
}

